div {
    background-color: #E0FFFF";
    width: 140;
    border: 15px solid blue;
    padding: 10px;
    margin: 10px;
}
div {

    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    background-color:	#E0FFFF
}