<html>
<head>
<meta charset="utf-8">
<style>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/frame1.css">
</style>
    <script src="../static/jquery-3.2.1.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<font>
	<p class="dotted">
		<b>East Riverland </b> Perfect for mountains. Price: 10$/h.
	</p>
	<a href="https://en.wikipedia.org/wiki/Mountain_bike" target="_blank">
	<center> <img src="../static/images/Frame1/mountainbike.jpg" width="220" height="220" style="float:center"> </center>
	</a>	
	<p class="dotted">
		<b>Kingsville </b> A fast and safe way to commute. Price: 25$/h.
	</p>
	<a href="https://en.wikipedia.org/wiki/Bicycle_commuting" target="_blank">
	<center> <img src="../static/images/Frame1/commutebike.jpg" width="220" height="220" style="float:center"> </center>
	</a>
	<p class="dotted">
		<b> Yorkfur </b> Ever wanted to be part of "Fast and Furious"? Here you go! Price: 40$/h.
	</p>
	<a href="https://en.wikipedia.org/wiki/Racing_bicycle" target="_blank">
	<center> <img src="../static/images/Frame1/fastbike.jpg" width="220" height="220" style="float:center"> </center>
</font>

</body>
</html>